/* Ruleset for Navigation Bar */
nav {
    padding: 2px;
}

/* Ruleset targeting all buttons */
nav .Button {
    display: inline-block;
    width: 300px;
    font-weight: bold;
}

/* Ruleset targeting anchor/button/link behavior */
a {text-decoration: none; color: black;}
a:visited { color:black; }
a:hover { color:white; }

/* Ruleset for entire body */
body {
    margin: auto;
    border: 5px solid black;
    text-align: center;
    background-color: rgb(236, 85, 74);
}

/* Ruleset that targets Homepage box*/
#HOMEPAGE {
    padding: 10px;
}

#HOMEPAGE h1 {
    color: rgb(2, 43, 113);
}

#PROJECTS-AND-RESEARCH-TEAM h1 {
    color: rgb(2, 43, 113)
}

#TEACHING h1 {
    color: rgb(2, 43, 113)
}

#DEI h1 {
    color: rgb(2, 43, 113)
}

.HP-LOWER {
    border: 2px solid white;
    display: flex;
}

.HP-ABME, .HP-CONTACT {
    background-color: gray;
}

.HP-IMAGE {
    background-color: blanchedalmond;
}

.HP-IMAGE, .HP-ABME, .HP-CONTACT {
    width: 250px;
    height: 250px;
    flex: 1;
}

.HP-IMAGE img {
    width: 150px;
    height: 150px;
}

/* Ruleset that targets PandR Team box*/

/* Ruleset targeting upper PandR box with research statement and supporting media*/
.PR-UPPER {
    padding: 10px;
    display: flex;
}
.STATEMENT {
    background-color: gray;
}

.IMG-LEFT, .IMG-RIGHT {
    background-color: blanchedalmond;
}

.IMG-LEFT, .STATEMENT, .IMG-RIGHT {
    flex: 1;
}

/* Ruleset targeting media in PR-UPPER*/
.IMG-LEFT {
    display: inline-block;
    border: 2px solid white;
    width: 100px;
    height: 200px;
}

/* Ruleset targeting central statement in PR-UPPER*/
.STATEMENT {
    display: inline-block;
    border: 2px solid white;
    width: 250px;
    height: 250px;
}

/* Ruleset targeting media in PR-UPPER*/
.IMG-RIGHT {
    display: inline-block;
    border: 2px solid white;
    width: 100px;
    height: 200px;
}

/* Ruleset targeting all images in PR-LOWER*/
.ONEONE, .ONE-TWO, .ONE-THREE, .TWOONE, .TWO-TWO, .TWO-THREE  {
    display: inline-block;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    background-color: blanchedalmond;
}

/* Ruleset that targets Teaching box*/
#TEACHING{
    padding: 10px;
}

.CLASS-NOTES{
    display: inline-block;
    border: 2px solid white;
    width: 250px;
    height: 500px;
    background: gray;
}

.FUN-LINKS{
    display: inline-block;
    border: 2px solid white;
    width: 250px;
    height: 500px;
    background: gray;
}

/* Ruleset that targets DEI box*/
#DEI{
    padding: 10px;
}

.RELATED-LINKS {
    background: gray;
    display: flex;
}

.COL-TWO {
    background-color: blanchedalmond;
}

.COL-ONE, .COL-TWO {
    border: 2px solid white;
    width: 250px;
    height: 250px;
    flex: 1;
}

#MAIN-ISR-PAGE {
    margin: auto;
}

#ISR-SITE {
    padding: 10px;
}

.UPPER-ISR h1{
    color: rgb(2, 43, 113)
}

.LOWER-ISR {
    border: 2px solid white;
    display: flex;
}

.THEORY, .OBSERVATIONS, .EXPERIMENT {
    background: gray;
}