/* Ruleset that implements a custom font */
@font-face {
    font-family: njitFont;
    src: url(StoneSansRegular.ttf);
}

/* Ruleset targeting navigation bar */
nav {
    padding: 2px;
}

/* Ruleset targeting buttons in the nav box */
nav .Button {
    display: inline-block;
    width: 300px;
    font-weight: bold;
}

/* Ruleset targeting default anchor behavior */
a {
    text-decoration: none; color: white;
}

/* Ruleset targeting visited anchor behavior */
a:visited { 
    color:white; 
}

/* Ruleset targeting hover anchor behavior */
a:hover { 
    color:black; 
}

/* Ruleset targeting entire body */
body {
    text-align: center;
    background-color: rgb(2, 43, 113);
}

/* Ruleset targeting all titles of each of the boxes */
#HOMEPAGE h1, #PROJECTS-AND-RESEARCH-TEAM h1, #TEACHING h1, #DEI h1 {
    color:white;
}

/* Ruleset targeting the image, about me, and contact information section of the homepage box */
.HP-LOWER {
    display: flex;
    height:500px;
    width:100%;
}

.HP-LEFT, .HP-RIGHT {
    height: 100%;
    width: 200px;
}

.HP-LEFT {
    flex:1;
    flex-direction: column;
    display: flex;
}

.HP-LEFT-IMG, .HP-LEFT-INFO {
    width: 100%;
}

.HP-LEFT-IMG {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HP-LEFT-INFO {
    flex:2;
}

.HP-LEFT-LINKS {
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HP-LEFT-LINKS img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.HP-LEFT-LINKS button {
    outline: 0;
}

.HP-RIGHT {
    display: flex;
    flex-direction: column;
    flex:2;
}

.HP-RIGHT-UPPER, .HP-RIGHT-LOWER {
    width: 100%;
    height:100%;
}

.HP-RIGHT-UPPER {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HP-RIGHT-UPPER h2 {
    justify-content: center;
    width: 50%;
    text-align: center;
    font-size: 50px;
}


.HP-RIGHT-LOWER {
    flex:2;
}
/* Ruleset targeting the titles of the about me, and contact information boxes */
.HP-ABME h2, .HP-CONTACT h2, .HP-ABME p {
    color: white;
}

.HP-IMAGE {
    overflow: hidden;
}

.HP-IMAGE img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Ruleset targeting the dimensions of the image, about me, and contact information boxes */
.HP-IMAGE, .HP-ABME, .HP-CONTACT {
    flex: 1;
    width: 200px;
    height: 200px;
}

.HP-CONTACT {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.CONTACT-CONTENT {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
}

.CONTACT-CONTENT>* {
    flex: 1;
}

#PROJECTS-AND-RESEARCH-TEAM {
    display: flex;
    height:500px;
    width:100%;
}

.P-AND-R-LEFT, .P-AND-R-RIGHT {
    flex:1;
    height:100%;
    display: flex;
    flex-direction: column;;
}

.PR-LEFT-TOP, .PR-LEFT-BOT {
    width: 100%;
}

.PR-LEFT-TOP {
    flex: 1;
}

.PR-LEFT-BOT {
    flex: 2;
}

.PR-RIGHT-TOP, .PR-RIGHT-BOT {
    width: 100%;
}

.PR-RIGHT-TOP {
    flex: 1;
}

.PR-RIGHT-BOT {
    flex: 2;
    display: flex;
}

.PR-RIGHT-BOT>* {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Ruleset targeting upper PandR box with research statement and supporting media */
.PR-UPPER {
    display: flex;
    border: 10px solid white;
    margin: auto;
}

/* Ruleset targeting the titles of the research statement box and team members box */
.PR-UPPER h2, .PR-LOWER h2 {
    color: white;
}

#DEI {
    display: flex;
    height:500px;
    width:100%;
}

.DEI-LEFT, .DEI-RIGHT {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.DEI-RIGHT {
    justify-content: space-evenly;
    align-items: center;
}

.DEI-RIGHT>* {
    flex: 1;
    border: 2px solid black;
    width: 100%;
    height: 50px;
}

/* Ruleset targeting the image and research statement boxes */
.IMG-LEFT, .STATEMENT, .IMG-RIGHT {
    flex: 1;
    background: rgb(145, 9, 12);
}

/* Ruleset targeting media in PR-UPPER */
.IMG-LEFT, .IMG-RIGHT {
    display: inline-block;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.IMG-LEFT img, .IMG-RIGHT img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Ruleset targeting the research statement in PR-UPPER */
.STATEMENT {
    display: inline-block;
    width: 250px;
    height: 250px;
    color: white;
}

/* Ruleset targeting all images in PR-LOWER */
.ONEONE, .ONE-TWO, .ONE-THREE, .TWOONE, .TWO-TWO, .TWO-THREE  {
    display: inline-block;
    background: rgb(145, 9, 12);
    width: 250px;
    height: 250px;
}

/* Ruleset targeting the title of the teaching sub-box */
.INFO-SECTION h2, .INFO-SECTION p {
    color: white;
}

#TEACHING {
    display: flex;
    height:500px;
    width:100%;
    overflow: hidden;
}

.TEACHING-MAIN-LEFT, .TEACHING-MAIN-RIGHT {
    height:100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.TEACHING-RIGHT-TOP, .TEACHING-RIGHT-BOT {
    height:425px;
}

.TEACHING-RIGHT-TOP {
    flex: 1;
}

.TEACHING-RIGHT-BOT {
    flex: 2;
    display: flex;
}

.TEACHING-LEFT-TOP {
    flex: 1;
}

.TEACHING-LEFT-TOP {
    font-size: 30px;
}

.TEACH-LOWER>* {
    border: 10px solid white;
}

.TEACH-LOWER {
    display: flex;
    justify-content: space-evenly;
}

/* Ruleset targeting the class notes box */
.CLASS-NOTES, .FUN-LINKS{
    width: auto;
    background: rgb(145, 9, 12);
    color: white;
    flex: 1;
}

.NOTES-CONTENT {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.NOTES-CONTENT>* {
    flex: 1;
}

.LINKS-CONTENT {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.LINKS-CONTENT>* {
    flex: 1;
}

/* Ruleset targeting the title of the DEI sub-box */
#DEI h2, #DEI p {
    color: white;
}

/* Ruleset targeting the related links box */
.RELATED-LINKS {
    display: flex;
    justify-content: space-evenly;
    background: rgb(145, 9, 12);
    border: 10px solid white;
}

/* Ruleset targeting the columns of the teaching box */
.COL-ONE, .COL-TWO {
    width: 250px;
    height: 250px;
    background: rgb(145, 9, 12);
    color: white;
    display: flex;
    flex-direction: column;
}

.COL-ONE-CONTENT {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.COL-ONE-CONTENT>* {
    flex: 1;
}

/* Ruleset targeting the title of the ISR site box */
.UPPER-ISR h1{
    color: white;
}

.UPPER-ISR p {
    color: white;
    font-size: 20;
}

/* Ruleset targeting the main portion of the ISR site */
.LOWER-ISR {
    display: flex;
    border: 10px solid white;
    margin-bottom: 10px;
}

/* Ruleset targeting all boxes of the ISR site */
#THEORY, #OBSERVATION, #EXPERIMENT, #JUPYTER-NOTEBOOK, #SIMULATION {
    width: 750px;
    height: 250px;
    color: white;
    background: rgb(145, 9, 12);
}

#THEORY, #OBSERVATION, #EXPERIMENT {
    display: flex;
    flex-direction: column;
}

#TContent, #OContent, #EContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#TContent>*, #OContent>*, #EContent>* {
    flex: 1;
}

.EXTRA-ISR {
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#JUPYTER-NOTEBOOK, #SIMULATION {
    width: 100%;
}

#JUPYTER-NOTEBOOK {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#JContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#JContent>* {
    flex: 1;
}

.EXTRA-ISR a{
    font-size: 50px;
}